##########
# Images #
##########
albums/*

##################################
# Visual Studios editor nonsense #
##################################
.vs/*

######################
# Zen Photo Nonsense #
######################
cache/*
cache_html/*
zp-data/*