/*

*/

@font-face
{
    font-family: 'MechTech';
    src: url('./MechTech.otf');
}

/**
* HTML Elements
**/
body
{
	background-color: #333;
	color: #EEE;
	font-family: sans-serif;
	margin: 0;
}

h1, h2, h3, h4
{
	font-family: sans-serif;
}

h1
{
	font-size: 3rem;
}

h2
{
	font-size: 2rem;
}

h3
{
	font-size: 1.5rem;
}

header
{
	align-items: center;
	background-color: #111;
	display: flex;
	height: 32px;
	padding-left: 32px;
}

nav
{
	align-items: center;
	display: flex;
	height: 100%;
	margin-left: 32px;
}

nav a
{
	align-items: center;
	color: #EEE;
	display: flex;
	height: 100%;
	padding: 0 32px;
	text-decoration: none;
	transition: background-color 0.2s;
}

nav a:hover
{
	background-color: #333;
	transition: background-color 0.2s;
}

/**
* Classes
**/

.site-header-title
{
	font-family: sans-serif;
	font-size: 1.2rem;
}

.title-page-album
{
	background-attachment: fixed;
	background-size: cover;
	height: 800px;
}